<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.PROYECTOSEMINARIO.RESTAURANTE">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--para cambiar el icono del inicio en android:icon se pone la direccion de la imagen-->
    <application
        android:allowBackup="true"
        android:icon="@drawable/churrasco_alimentos_a_carne_o_jantar_background"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.PROYECTOSEMINARIO.RESTAURANTE.VER_MENUS"></activity>
        <activity android:name="com.example.PROYECTOSEMINARIO.RESTAURANTE.VER_MENU" />
        <activity android:name="com.example.PROYECTOSEMINARIO.RESTAURANTE.MENU" />
        <activity android:name="com.example.PROYECTOSEMINARIO.RESTAURANTE.IMAGEN_RESTAURANTE" />
        <activity android:name="com.example.PROYECTOSEMINARIO.RESTAURANTE.ELIMINAR_MENU" />
        <activity android:name="com.example.PROYECTOSEMINARIO.RESTAURANTE.EDITAR_MENU" />
        <activity android:name="com.example.PROYECTOSEMINARIO.RESTAURANTE.EDITAR_1" />
        <activity android:name="com.example.PROYECTOSEMINARIO.RESTAURANTE.CREAR_MENU" />
        <activity android:name="com.example.PROYECTOSEMINARIO.RESTAURANTE.INFO_RESTAURANTE" />
        <activity android:name="com.example.PROYECTOSEMINARIO.RESTAURANTE.REGISTRAR_USUARIO" />
        <activity android:name="com.example.PROYECTOSEMINARIO.RESTAURANTE.VER_RESTAURANTE_2" />
        <activity android:name="com.example.PROYECTOSEMINARIO.RESTAURANTE.VER_RESTAURANTE_1" />
        <activity android:name="com.example.PROYECTOSEMINARIO.RESTAURANTE.REGISTRAR_RESTAURANTE" />
        <activity android:name="com.example.PROYECTOSEMINARIO.RESTAURANTE.EDITAR_RESTAURANTE" />
        <activity
            android:name="com.example.PROYECTOSEMINARIO.RESTAURANTE.LOGIN"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.PROYECTOSEMINARIO.RESTAURANTE.MAIN_ACTIVITY"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>